
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1A1A1D 0%, #C5C6C7 100%);
    min-height: 100vh;
    padding: 40px 20px;
}

.menu-icon {
    background-image: url('/static/images/menu.png');
    background-repeat: no-repeat;
    background-color: #A4B3B6;
    background-position: 10px 6px;
    background-size: 25px;
    position: fixed;
    border: 2px solid #042c8380;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
}

.menu-icon:hover {
    background-color:#C5C6C7 ;
}

.menu-items {
    position: fixed;
    margin-top: 50px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap:10px;
    width: fit-content;
    transition: opacity 0.3s ease, visibility 0.3s;
}

.menu-items.active {
    /* position: initial; */
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    
}

.item-menu{
    background-color: #DEF2F1;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.item-menu:hover {
    background-color: #1A1A1D;
    color: white
}

.search-container {
    display: flex;
    align-items: center;
    text-align: right;
    position: fixed;
    top: 10px;
    right: 10px;
}

.search-icon-btn {
    border: 2px solid #0e3369;
    border-radius: 10px;
    padding: 4px;
    font-size: 20px;
    background-color: #dae9e9;
    cursor: pointer;
}

.search-icon-btn:hover {
    background-color: white;
}

.search-input {
    transform: translateY(-4px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 12px;
    padding: 9px;
    transition: opacity 0.3s ease, visibility 0.3s;
}


.search-input.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.article-card {
    background: linear-gradient(135deg, #A4B3B6 0%, rgba(255, 192, 203, 0.575) 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin: 0 auto 20px auto;
    border-radius: 20px;
    max-width: 700px;
}

.article-title {
    font-family: cursive;
}

.article-meta {
    display: flex;
    flex-direction:column;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 20px;
    font-family: cursive;
}

.article-header {
    border-radius: 20px;
    background: rgba(124, 70, 79, 0.356)
}
.article-content {
    margin-left: 50px;
    margin-right: 50px;
    font-family: serif;
    font-size: large;
}

.read-more {
    text-decoration: none;
}

.read-more:hover {
    color: rgb(124, 70, 79)
}
