body {
    font-family: cursive;
    background: linear-gradient(135deg, #1A1A1D 0%, #C5C6C7 100%);
    min-height: 100vh;
    padding: 40px 20px;
}

.menu-icon {
    background-image: url('/static/images/menu.png');
    background-repeat: no-repeat;
    background-color: #A4B3B6;
    background-position: 10px 6px;
    background-size: 25px;
    position: fixed;
    display: flex;
    border: 2px solid #042c8380;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    min-width: 50px;
    max-width: 150px;
}


button:hover {
    background-color: rgba(255, 192, 203, 0);
    cursor: pointer;
}

.menu-icon:hover {
    background-color:#C5C6C7 ;
}

.menu-items {
    position: fixed;
    margin-top: 50px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap:10px;
    width: fit-content;
    transition: opacity 0.3s ease, visibility 0.3s;
}

.menu-items.active {
    /* position: initial; */
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    
}

.item-menu{
    background-color: #DEF2F1;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.item-menu:hover {
    background-color: #1A1A1D;
    color: white
}

.container {
    background: linear-gradient(135deg, #A4B3B6 0%, rgba(255, 192, 203, 0.575) 100%);
    text-align: center;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 600px; 
    margin: 0 auto;
    justify-content: center;
    gap:20px;
    border-radius: 20px;
    padding-bottom: 30px;
}



.card-group {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.action-btn {
    border-radius: 10px;
    min-width: 100px;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px;
    background: rgba(255, 192, 203, 0.199);
    font-size: 15px;
    font-family: cursive;
    color: black;
    text-decoration: none;
}

.follow-user-btn {
    border-radius: 10px;
    min-width: 50px;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px;
    background: rgba(255, 192, 203, 0.199);
    font-size: 12px;
    font-family: cursive;
}

.container-card {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0 100px;
    gap: 30px;
}


.article-card {
    background: linear-gradient(135deg, #A4B3B6 0%, rgba(255, 192, 203, 0.575) 100%);
    width: 100%;
}


.article-content {
    padding: 20px;
    text-align: left;
}

.comment {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #A4B3B6 0%, rgba(255, 192, 203, 0.575) 100%);
    width: 100%;
    text-align: left;
    gap: 10px
}

.comment-header {
    border-width: 1px;
    border-style: solid;
    border-top: black;
    border-left: none;
    border-right: none;
}

button {
    border-radius: 10px;
    min-width: 50px;
    max-width: 150px;
    padding: 10px;
    background: rgba(255, 192, 203, 0.199);
    font-size: 15px;
    font-family: cursive;
    /* align-self: flex-end; */
}