body {
    background: #b2b8c2;
}

h1 {
    color: rgb(92, 75, 92);
    font-size: 50px;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

}

.login-form {
    text-align: start;
    min-width: 100px;
    position: fixed;
    top: 10px;
    right: 10px;
}

.login-link {
    -webkit-writting-mode: horizontal-tb !important;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
    text-rendering: auto;
    color: initial;
    display: inline-block;
    margin: 0em;
    font: 400 20px system-ui;
    border-radius: 5px;
    appearance: none;
    text-decoration: none;
    cursor: pointer;
}

.login-link:hover {
    background-color: rgb(238, 232, 237);
}

.login-link:focus {
    outline: none;
    box-shadow: 0 0 0 2px #cbd6ee;
}

.categories-container {
    display:flex;
    gap: 50px;
    justify-content: center;
    padding: 20px;
}

.categories-column {
    display: flex;
    flex-direction: column;
}

.categories-link {
    display: flex;
    border-style: solid;
    border-color: rgb(97, 51, 51);
    border-radius: 20px;
    font-size: 25px;
    width: 200px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(92, 75, 92);
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 1px 7px 2px;
}

.subcategories-biochemistry-link {
    display: flex;
    border-style: solid;
    border-color: #b2b8c2;
    border-radius: 20px;
    font-size: 25px;
    width: auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b2b8c2;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 5px 5px 5px;
}

.subcategories-biochemistry-link.active {
    border-color: #0e3369;
    color: #112138;
}

.subcategories-medicine-link {
    display: flex;
    border-style: solid;
    border-color: #b2b8c2;
    border-radius: 20px;
    font-size: 25px;
    width: auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b2b8c2;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 5px 5px 5px;
}

.subcategories-medicine-link.active {
    border-color: #0e3369;
    color: #112138;
}