body{
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin: 0;
}

.admin-layout{
    display: flex;
}

.sidebar{
    display: flex;
    background-color: #111827;
    width: 240px;
    min-height: 100vh;
    flex-direction: column;
}

.sidebar-logo{
    padding: 0px 20px;
    color: white;
    margin-left: 10px;
}

.sidebar-logo span{
    color: #60a5fa;
}

.sidebar-nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 10px;
}

.sidebar-nav a{
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
    padding: 12px 20px;
    /* width: 180px; */
    margin-left: 10px;
    opacity: 0.8;
}

.sidebar-nav a:hover{
    background-color: #2b3445;
    border-radius: 20px;
}