body{
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin: 0;
}

.admin-layout{
    display: flex;
}

.sidebar{
    display: flex;
    background-color: #111827;
    width: 240px;
    min-height: 100vh;
    flex-direction: column;
}

.sidebar h1{
    padding: 0px 20px;
}

.sidebar-nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-nav a{
    color: aliceblue;
    text-decoration: none;
    font-size: 17px;
    padding: 12px 20px;
}

.sidebar-nav a:hover{
    background-color: #2b3445;
    border-radius: 20px;
}